<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Luccr | About us</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <!-- Favicon -->
        <link rel="icon" href="../static/assests/clover green.png" type="image/png">

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">

        <link href="../static/css/bootstrap-icons.css" rel="stylesheet">

        <link href="../static/css/about.css" rel="stylesheet">      

    </head>
    
    <body id="top">

      <main>

        <nav class="navbar navbar-expand-lg">
          <div class="container">
              <a class="navbar-brand" href="{{ url_for('home_page') }}">
                  <img src="../static/assests/clover.svg" class="bi-back" width="40px"></img>
                  <span>Luccr</span>
              </a>

              <!-- <div class="d-lg-none ms-auto me-4">
                  <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
              </div> -->

              <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button> -->

              <div id="navbarNav">
                  <h6 class="nav-heading">About us</h6>
              </div>
          </div>
      </nav>

      <div class="container outter-container">

        <div class="container my-2">
            <h3>Our Vision</h3>
            <p class="text-para">Grounded in the “Seven I’s” Framework, LUCCR uses state of the art scholarly insights to help organizations communicate risk information more effectively to promote consumer, community, societal, and environmental well-being.</p>
        </div>

        <div class="container my-2">
            <h3>Our Mission</h3>
            <p class="text-para">LUCCR:<br> 
              (i) Provides organizations around the globe with interactive access to a wide range of rigorous academic research on understanding and communicating risk, <br>
              (ii) Offers normative solutions from these literatures, and <br>
              (iii) converts scholarly research into a customized set of structured output for practitioners. <br>
              Developed by a team of PhD’s, with the input of executives, small business owners, and policy experts, LUCCR assists professionals who aim to communicate risk-related information across a variety of organizations, industries, and contexts with the goal of promoting individual and societal well-being. With that, LUCCR helps strengthen the connections between academic research and managerial practice.</p>
        </div>

        <div class="container my-2">
          <h3>Our Experience</h3>
          <p class="text-para">The LUCCR Project team has experience consulting for global organizations in many diverse domains. Here are some of the wonderful organizations we have worked with in the past.</p>
          <img src="../static/assests/Logos.png" alt="Logos">
      </div>
        
        
        <div class="container team-conatainer">
            <div class="row">
                <h2 class="text-center team-heading">Our Team</h2>
                <div class="col-lg-4 col-md-6 my-3 px-0">
                    <div class="card mx-auto">
                        <img class="card-img-top" src="../static/assests/Wood-Stacy-web.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title text-center">Dr. Stacy Wood</h5>
                          <ul>
                            <li class="card-text">Langdon Distinguished University Professor of Marketing</li>
                            <li class="card-text">North Carolina State University, USA</li>
                          </ul>
                        </div>
                      </div>
                </div>
    
                <div class="col-lg-4 col-md-6 my-3 px-0">
                    <div class="card mx-auto">
                        <img class="card-img-top" src="../static/assests/Dr Leonard Lee.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title text-center">Dr. Leonard Lee</h5>
                          <ul>
                            <li class="card-text">Director, Lloyd’s Register Foundation (LRF) Institute for the Public Understanding of Risk (IPUR)</li>
                            <li class="card-text">Professor of Marketing, NUS Business School</li>
                            <li class="card-text">National University of Singapore (NUS).</li>
                          </ul>
                        </div>
                      </div>
                </div>

                <div class="col-lg-4 col-md-6 my-3 px-0">
                    <div class="card mx-auto">
                        <img class="card-img-top" src="../static/assests/Dr Olivia Jensen.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title text-center">Dr. Olivia Jensen</h5>
                          <ul>
                            <li class="card-text">Deputy Director and Lead Scientist (Environment and Climate), IPUR</li>
                            <li class="card-text">National University of Singapore.</li>
                          </ul>
                        </div>
                      </div>
                </div>

                <div class="col-lg-4 col-md-6 my-3 px-0">
                    <div class="card mx-auto">
                        <img class="card-img-top" src="../static/assests/JillLei.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title text-center">Dr. Jill Lei</h5>
                          <ul>
                            <li class="card-text">Professor of Marketing</li>
                            <li class="card-text">The University of Melbourne, Australia</li>
                          </ul>
                        </div>
                      </div>
                </div>

                <div class="col-lg-4 col-md-6 my-3 px-0">
                    <div class="card mx-auto">
                        <img class="card-img-top" src="../static/assests/Carolyn Lo.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title text-center">Dr. Carolyn Lo</h5>
                          <ul>
                            <li class="card-text">Research Fellow, Yong Loo Lin School of Medicine and IPUR</li>
                            <li class="card-text">National University of Singapore</li>
                          </ul>
                        </div>
                      </div>
                </div>

                <div class="col-lg-4 col-md-6 my-3 px-0">
                    <div class="card mx-auto">
                        <img class="card-img-top" src="../static/assests/Martin Mende.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title text-center">Dr. Martin Mende</h5>
                          <ul>
                            <li class="card-text">Professor of Marketing and Jim Moran Professor of Business Administration</li>
                            <li class="card-text">Rockwood School of Marketing</li>
                            <li class="card-text">Florida State University, USA</li>
                          </ul>
                        </div>
                      </div>
                </div>

                <div class="col-lg-4 col-md-6 my-3 px-0">
                    <div class="card mx-auto">
                        <img class="card-img-top" src="../static/assests/Richard Plumbly-Clegg.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title text-center">Richard Plumbly-Clegg</h5>
                          <ul>
                            <li class="card-text">Distinguished Visiting Professor, NUS, Singapore</li>
                            <li class="card-text">Former Chief Executive Officer, Lloyds Register Foundation, UK</li>
                          </ul>
                        </div>
                      </div>
                </div>

                <div class="col-lg-4 col-md-6 my-3 px-0">
                    <div class="card mx-auto">
                        <img class="card-img-top" src="../static/assests/2023_FAC_MauraScott_4677_final.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title text-center">Dr. Maura L. Scott</h5>
                          <ul>
                            <li class="card-text">Drs. Persis E. and Charles E. Rockwood Eminent Scholar in Marketing</li>
                            <li class="card-text">Florida State University</li>
                          </ul>
                        </div>
                      </div>
                </div>

                <div class="col-lg-4 col-md-6 my-3 px-0">
                    <div class="card mx-auto">
                        <img class="card-img-top" src="../static/assests/claire.tsai.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title text-center">Dr. Claire I. Tsai</h5>
                          <ul>
                            <li class="card-text">Professor of Marketing</li>
                            <li class="card-text">University of Toronto, Canada</li>
                          </ul>
                        </div>
                      </div>
                </div>

                <div class="col-lg-4 col-md-6 my-3 px-0">
                    <div class="card mx-auto">
                        <img class="card-img-top" src="../static/assests/Dr Robyn Wilson.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title text-center">Dr. Robyn Wilson</h5>
                          <ul>
                            <li class="card-text">Professor of Risk Analysis and Decision Science</li>
                            <li class="card-text">The Ohio State University, USA.</li>
                          </ul>
                        </div>
                      </div>
                </div>
            </div>
        </div>


      </div>

      </main>


      <footer class="site-footer section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-12 mb-4 pb-2">
                    <a class="navbar-brand mb-2" href="{{ url_for('home_page') }}">
                        <!-- <i class="bi-back"></i> -->
                        <img src="../static/assests/clover.svg" class="bi-back" width="40px"></img>
                        <span>Luccr</span>
                    </a>
                </div>

                <div class="col-lg-3 col-md-4 col-6">
                    <h6 class="site-footer-title mb-3">Resources</h6>

                    <ul class="site-footer-links">
                        <li class="site-footer-link-item">
                            <a href="{{ url_for('home_page') }}" class="site-footer-link">Home</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="{{ url_for('home_page') }}" class="site-footer-link">Example</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="{{ url_for('home_page') }}" class="site-footer-link">How it works</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="{{ url_for('home_page') }}" class="site-footer-link">FAQs</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="{{ url_for('about_us')}}" class="site-footer-link">About us</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="{{ url_for('video_library')}}" class="site-footer-link">Video Library</a>
                        </li>

                    </ul>
                </div>

                <!-- <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                    <h6 class="site-footer-title mb-3">Information</h6>

                    <p class="text-white d-flex mb-1">
                        <a href="tel: 305-240-9671" class="site-footer-link">
                            305-240-9671
                        </a>
                    </p>

                    <p class="text-white d-flex">
                        <a href="mailto:info@company.com" class="site-footer-link">
                            info@company.com
                        </a>
                    </p>
                </div> -->

                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                    <!-- <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        English</button>

                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" type="button">Thai</button></li>

                            <li><button class="dropdown-item" type="button">Myanmar</button></li>

                            <li><button class="dropdown-item" type="button">Arabic</button></li>
                        </ul>
                    </div> -->

                    <p class="copyright-text mt-lg-auto mt-4">Copyright © 2048 Topic Listing Center. All rights reserved.
                    <br><br>Built by: <a rel="nofollow" href="https://www.linkedin.com/in/neel317/" target="_blank">Neel Dudheliya</a></p>
                    
                </div>

            </div>
        </div>
    </footer>



        <!-- JAVASCRIPT FILES -->
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/bootstrap.bundle.min.js"></script>
        <script src="../static/js/jquery.sticky.js"></script>
        <script src="../static/js/click-scroll.js"></script>
        <script src="../static/js/custom.js"></script>

    </body>
</html>
