<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Luccr | Questionnaire</title>

  <!-- Favicon -->
  <link rel="icon" href="../static/assests/clover green.png" type="image/png">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.2/css/intlTelInput.css'>
<link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css'>
<link rel="stylesheet" href="../static/css/forms.css">
<link href="../static/css/bootstrap.min.css" rel="stylesheet">

<link href="../static//css/bootstrap-icons.css" rel="stylesheet">

</head>
<body>

  <nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('home_page') }}">
            <img src="../static/assests/clover.svg" class="bi-back" width="40px"></img>
            <span>Luccr</span>
        </a>

        <!-- <div class="d-lg-none ms-auto me-4">
            <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
        </div> -->

        <div class="navbar-heading">
           Survey
        </div>
    </div>
  </nav>

<!-- partial:index.partial.html -->
<!-- Multi step form --> 
<section class="multi_step_form">  
  <form id="msform" action="{{ url_for('form_submit')}}" method="post"> 
    <!-- progressbar -->
    <ul id="progressbar">
      <li class="active">Choices and Issues</li>  
      <li>Risks</li> 
      <li>Elements of Risk</li>
      <li>Additional Questions</li> 
      <li>Call to Action</li>
    </ul>


    <!-- fieldsets -->
    <fieldset>
      <h3>Define the choice and identify issues</h3>
      <h6>Need to fill all the input fields with symbol <strong style="color: red;">*</strong> </h6> 

      <div class="row">
        <p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Cc5vs5wy5QE?si=wgikIl4GNAuH8Au6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
      </div>

      <div class="form-group mb-2 text-left"> 
        <label for="topic" id="inline">I want to help people make a choice about <strong style="color: red;">*</strong></label>
        <input type="text" class="fill-the-blanks" id="topic" name="__topic__" placeholder="Maximum 50 characters" maxlength="50" autocomplete="off">
      </div>
      <div class="form-group mb-4 text-left">
        <label for="topic1" id="inline"> Specifically, I want them to choose to </label>
        <input type="text" class="fill-the-blanks" id="topic1" name="__topic1__" placeholder="Maximum 50 characters" maxlength="50" autocomplete="off">
      </div>
      <div class="form-group text-left">
          <label for="issues">What do you think are most important issues? <i>(Keep it short - less than 40 characters please.) </i><strong style="color: red;">*</strong></label>
          <ul id="square">
            <li><input type="text" class="fill-the-blanks" id="issues" name="__issues0__" autocomplete="off" maxlength="40"/></li>
            <li><input type="text" class="fill-the-blanks" id="issues1" name="__issues1__" autocomplete="off" maxlength="40"/></li>
            <li><input type="text" class="fill-the-blanks" id="issues2" name="__issues2__" autocomplete="off" maxlength="40"/></li>
            <li><input type="text" class="fill-the-blanks" id="issues3" name="__issues3__" autocomplete="off" maxlength="40"/></li>
          </ul>
      </div>
      <button type="button" class="next action-button">Continue</button>  
    </fieldset>


    <fieldset>
      <h3>What is risk? Three elements</h3>
      <h6>Need to fill all the input fields with symbol <strong style="color: red;">*</strong> </h6>
      <div class="form-group text-center">
        <label for="risk">What is the risk information that you want to communicate? In our example it was the danger of sun exposure while indoors.</label>
        <textarea id="risk" name="__risk__" maxlength="300" placeholder="Type here..."></textarea>
      </div>
      <div class="row">
        <div class="row">
          <div class="col-4 text-center exposure" data-toggle="tooltip" data-placement="bottom" title="Exposure is the base rate for randomly occurring hazards (e.g., 80 tropical cyclones occur globally per year) or the number of people or objects potentially susceptible to a non-random hazard (e.g., the number of people exposed to secondhand smoke is decreasing). If an individual is not exposed to a hazard, this can reduce their motivation to process communications about susceptibility or severity.">
            <svg class="risk-icons" width="36" height="36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
              <g id="_x33_4_x2C__Shoot_x2C__shutter_x2C__camera_x2C__snapshot_x2C__exposure">
                <g id="XMLID_474_">
                  <g id="XMLID_475_">
                    <path id="XMLID_330_" d="M246.255,185.727l-57.742-34.9c-33.093,21.309-55.523,57.8-57.381,99.551
                      C317.192,145.759,114.315,259.818,246.255,185.727z" style="fill: rgb(129, 182, 34);"></path>
                    <path id="XMLID_329_" d="M200.446,300.621l-1.766,66.44c35.115,18.197,78.137,19.028,114.909-0.142
                      C239.068,323.053,277.489,343.897,200.446,300.621z" style="fill: rgb(129, 182, 34);"></path>
                    <path id="XMLID_328_" d="M265.45,326.438l58.025,34.743c33.101-21.309,55.536-57.805,57.393-99.563
                      C361.323,272.595,274.166,321.543,265.45,326.438z" style="fill: rgb(129, 182, 34);"></path>
                    <path id="XMLID_327_" d="M321.37,149.499c-0.004,1.451,0.046-16.547-0.37,134.279l59.859-33.625
                      C378.89,207.613,355.559,170.561,321.37,149.499z" style="fill: rgb(129, 182, 34);"></path>
                    <path id="XMLID_326_" d="M311.114,211.133l0.279-67.166c-35.063-17.407-77.2-17.554-113.02,1.135l65.228,39.425L311.114,211.133z
                      " style="fill: rgb(129, 182, 34);"></path>
                    <path id="XMLID_325_" d="M188.828,361.375L191,279.669v-51.481l-59.859,33.658C133.075,303.636,155.621,340.133,188.828,361.375z
                      " style="fill: rgb(129, 182, 34);"></path>
                    <path id="XMLID_324_" d="M201,289.47l55,30.8c2.495-1.401-13.596,7.632,55-30.875V222.53l-55-30.8
                      c-2.49,1.396,13.579-7.613-55,30.834C201,223.716,201,288.32,201,289.47z" style="fill: rgb(129, 182, 34);"></path>
                    <path id="XMLID_479_" d="M256,31C131.935,31,31,131.935,31,256s100.935,225,225,225s225-100.935,225-225S380.065,31,256,31z
                       M256,431c-96.495,0-175-78.505-175-175S159.505,81,256,81s175,78.505,175,175S352.495,431,256,431z" style="fill: rgb(129, 182, 34);"></path>
                    <path id="XMLID_476_" d="M256,91c-90.981,0-165,74.019-165,165s74.019,165,165,165s165-74.019,165-165S346.981,91,256,91z
                       M391,256c0,102.209-109.6,167.4-199.225,118.72c-0.433-0.17-0.836-0.392-1.199-0.669c-90.472-50.34-93.16-178.657-5.374-232.948
                      c0.392-0.329,0.821-0.596,1.284-0.788C275.692,86.51,391,150.853,391,256z" style="fill: rgb(129, 182, 34);"></path>
                  </g>
                </g>
              </g>
              <g id="Layer_1">
              </g>
              </svg>
            <h6>Exposure</h6>
          </div>
          <div class="col-4 text-center" data-toggle="tooltip" data-placement="bottom" title="Severity represents the magnitude of the consequences that could occur because of exposure and susceptibility to the hazard. This dimension of risk has long been known as critical to understanding risk perception and, as a result, communicating risk.">
              <svg xmlns="http://www.w3.org/2000/svg" class="risk-icons" width="32" height="32" fill="currentColor" class="bi bi-heartbreak-fill" viewBox="0 0 16 16">
                <path d="M8.931.586 7 3l1.5 4-2 3L8 15C22.534 5.396 13.757-2.21 8.931.586ZM7.358.77 5.5 3 7 7l-1.5 3 1.815 4.537C-6.533 4.96 2.685-2.467 7.358.77Z"/>
              </svg>
            <h6>Severity</h6>
          </div>
          <div class="col-4 text-center" data-toggle="tooltip" data-placement="bottom" title="Susceptibility represents the degree of vulnerability to a hazard given exposure (e.g., children are more susceptible to the negative consequences of air pollution). Like exposure, if an individual is not susceptible to a hazard, motivation may be low to attend to communications about the potential severity of the consequences.">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-question-circle-fill risk-icons" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
            </svg>
            <h6>Susceptibility</h6>
          </div>
        </div>
        <div class="row">
          <p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/xurD6mcMvmQ?si=g88zRQKXaY2MLkjH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </p>
          <p style="color: black;">Watch to learn about the 3 elements of Risk</p>
        </div>
      </div>

      <button type="button" class="action-button previous previous_button mb-5">Back</button>
      <button type="button" class="next action-button mb-5">Continue</button>  
    </fieldset>  


    <fieldset>
      <h3>Describe elements of risks</h3>
      <h6>Need to fill all the input fields with symbol <strong style="color: red;">*</strong> </h6>
      <div class="form-group text-left">
        <div class="mb-4">
          <div class="row">
            <div class="col-8">
              <p class="paraQues">Is the Exposure of the consequences high, moderate, or low? <strong style="color: red;">*</strong></p>
              <input type="radio" id="exposure" name="__exposure__" value="High">
              <label>  High</label><br>
              <input type="radio" id="exposure" name="__exposure__" value="Moderate">
              <label>  Moderate</label><br>
              <input type="radio" id="exposure" name="__exposure__" value="Low">
              <label>  Low</label><br>
            </div>
            <div class="col-4 text-center" data-toggle="tooltip" data-placement="bottom" title="Exposure is the base rate for randomly occurring hazards (e.g., 80 tropical cyclones occur globally per year) or the number of people or objects potentially susceptible to a non-random hazard (e.g., the number of people exposed to secondhand smoke is decreasing). If an individual is not exposed to a hazard, this can reduce their motivation to process communications about susceptibility or severity.">
              <svg class="risk-icons" width="36" height="36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <g id="_x33_4_x2C__Shoot_x2C__shutter_x2C__camera_x2C__snapshot_x2C__exposure">
                  <g id="XMLID_474_">
                    <g id="XMLID_475_">
                      <path id="XMLID_330_" d="M246.255,185.727l-57.742-34.9c-33.093,21.309-55.523,57.8-57.381,99.551
                        C317.192,145.759,114.315,259.818,246.255,185.727z" style="fill: rgb(129, 182, 34);"></path>
                      <path id="XMLID_329_" d="M200.446,300.621l-1.766,66.44c35.115,18.197,78.137,19.028,114.909-0.142
                        C239.068,323.053,277.489,343.897,200.446,300.621z" style="fill: rgb(129, 182, 34);"></path>
                      <path id="XMLID_328_" d="M265.45,326.438l58.025,34.743c33.101-21.309,55.536-57.805,57.393-99.563
                        C361.323,272.595,274.166,321.543,265.45,326.438z" style="fill: rgb(129, 182, 34);"></path>
                      <path id="XMLID_327_" d="M321.37,149.499c-0.004,1.451,0.046-16.547-0.37,134.279l59.859-33.625
                        C378.89,207.613,355.559,170.561,321.37,149.499z" style="fill: rgb(129, 182, 34);"></path>
                      <path id="XMLID_326_" d="M311.114,211.133l0.279-67.166c-35.063-17.407-77.2-17.554-113.02,1.135l65.228,39.425L311.114,211.133z
                        " style="fill: rgb(129, 182, 34);"></path>
                      <path id="XMLID_325_" d="M188.828,361.375L191,279.669v-51.481l-59.859,33.658C133.075,303.636,155.621,340.133,188.828,361.375z
                        " style="fill: rgb(129, 182, 34);"></path>
                      <path id="XMLID_324_" d="M201,289.47l55,30.8c2.495-1.401-13.596,7.632,55-30.875V222.53l-55-30.8
                        c-2.49,1.396,13.579-7.613-55,30.834C201,223.716,201,288.32,201,289.47z" style="fill: rgb(129, 182, 34);"></path>
                      <path id="XMLID_479_" d="M256,31C131.935,31,31,131.935,31,256s100.935,225,225,225s225-100.935,225-225S380.065,31,256,31z
                         M256,431c-96.495,0-175-78.505-175-175S159.505,81,256,81s175,78.505,175,175S352.495,431,256,431z" style="fill: rgb(129, 182, 34);"></path>
                      <path id="XMLID_476_" d="M256,91c-90.981,0-165,74.019-165,165s74.019,165,165,165s165-74.019,165-165S346.981,91,256,91z
                         M391,256c0,102.209-109.6,167.4-199.225,118.72c-0.433-0.17-0.836-0.392-1.199-0.669c-90.472-50.34-93.16-178.657-5.374-232.948
                        c0.392-0.329,0.821-0.596,1.284-0.788C275.692,86.51,391,150.853,391,256z" style="fill: rgb(129, 182, 34);"></path>
                    </g>
                  </g>
                </g>
                <g id="Layer_1">
                </g>
                </svg>
              <h6>Exposure</h6>
            </div>
          </div>
          <div class="text-center">
            <textarea id="exposure" name="__exposureNotes__" maxlength="120" placeholder="Enter in your notes about the severity of your consequence here.."></textarea>
          </div><span><i>Maximum character limit is 120</i></span>
        </div>


        <div class="mb-4">
          <div class="row">
            <div class="col-8">
              <p class="paraQues">Is the Severity of the consequences high, moderate, or low? <strong style="color: red;">*</strong></p>
              <input type="radio" id="severity" name="__severity__" value="High">
              <label>  High</label><br>
              <input type="radio" id="severity" name="__severity__" value="Moderate">
              <label>  Moderate</label><br>
              <input type="radio" id="severity" name="__severity__" value="Low">
              <label>  Low</label><br>
            </div>
            <div class="col-4 text-center" data-toggle="tooltip" data-placement="bottom" title="Severity represents the magnitude of the consequences that could occur because of exposure and susceptibility to the hazard. This dimension of risk has long been known as critical to understanding risk perception and, as a result, communicating risk.">
              <svg xmlns="http://www.w3.org/2000/svg" class="risk-icons" width="32" height="32" fill="currentColor" class="bi bi-heartbreak-fill" viewBox="0 0 16 16">
                <path d="M8.931.586 7 3l1.5 4-2 3L8 15C22.534 5.396 13.757-2.21 8.931.586ZM7.358.77 5.5 3 7 7l-1.5 3 1.815 4.537C-6.533 4.96 2.685-2.467 7.358.77Z"/>
              </svg>
              <h6>Severity</h6>
            </div>
          </div>
          <div class="text-center">
            <textarea id="severity" name="__severityNotes__" maxlength="120" placeholder="Enter in your notes about the severity of your consequence here.."></textarea>
          </div><span><i>Maximum character limit is 120</i></span>
        </div>


        <div class="mb-4">
          <div class="row">
            <div class="col-8">
              <p class="paraQues">Is the Susceptibility of the consequences high, moderate, or low? <strong style="color: red;">*</strong></p>
              <input type="radio" id="susceptibility" name="__susceptibility__" value="High">
              <label>  High</label><br>
              <input type="radio" id="susceptibility" name="__susceptibility__" value="Moderate">
              <label>  Moderate</label><br>
              <input type="radio" id="susceptibility" name="__susceptibility__" value="Low">
              <label>  Low</label><br>
            </div>
            <div class="col-4 text-center" data-toggle="tooltip" data-placement="bottom" title="Susceptibility represents the degree of vulnerability to a hazard given exposure (e.g., children are more susceptible to the negative consequences of air pollution). Like exposure, if an individual is not susceptible to a hazard, motivation may be low to attend to communications about the potential severity of the consequences.">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-question-circle-fill risk-icons" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
              </svg>
              <h6>Susceptibility</h6>
            </div>
          </div>
          <div class="text-center">
            <textarea id="susceptibility" name="__susceptibilityNotes__" maxlength="120" placeholder="Enter in your notes about the severity of your consequence here.."></textarea>
          </div><span><i>Maximum character limit is 120</i></span>
        </div>

      </div>
      

      <button type="button" class="action-button previous previous_button mb-5">Back</button>
      <button type="button" class="next action-button mb-5">Continue</button>  
    </fieldset>  


    <fieldset>
      <h3>Additional Questions</h3>
      <h6>Need to fill all the input fields with symbol <strong style="color: red;">*</strong> </h6>
      <div class="form-group text-center">
        <div class="mb-2">
          <p class="paraQues mb-3">How similar to each other are the people in your target audience?</p>
        <ul class='likert'>
          <li>
            <label class="paraQues">Very Different Types of People</label>
          </li>
          <li>
            <input type="radio" name="__populationVariance__" value="1">
            <label class="paraQues">1</label>
          </li>
          <li>
            <input type="radio" name="__populationVariance__" value="2">
            <label class="paraQues">2</label>
          </li>
          <li>
            <input type="radio" name="__populationVariance__" value="3">
            <label class="paraQues">3</label>
          </li>
          <li>
            <input type="radio" name="__populationVariance__" value="4">
            <label class="paraQues">4</label>
          </li>
          <li>
            <input type="radio" name="__populationVariance__" value="5">
            <label class="paraQues">5</label>
          </li>
          <li>
            <input type="radio" name="__populationVariance__" value="6">
            <label class="paraQues">6</label>
          </li>
          <li>
            <input type="radio" name="__populationVariance__" value="7">
            <label class="paraQues">7</label>
          </li>
          <li>
            <label class="paraQues">Very Similar Types of People</label>
          </li>
        </ul>
        </div>


        <div class="mb-3 text-left">
          <p class="paraQues mb-2">Below are several ways that your population might differ. Check all that apply to your population: <strong style="color: red;">*</strong></p>
          <label>
            <input type="checkbox" id="check1.1" name="__populationDiffer0__" value="Age"> Age
          </label>
          <br>
          <label>
              <input type="checkbox" id="check1.2" name="__populationDiffer1__" value="Culture"> Culture
          </label>
          <br>
          <label>
              <input type="checkbox" id="check1.3" name="__populationDiffer2__" value="Location"> Location
          </label>
          <br>
          <label>
            <input type="checkbox" id="check1.4" name="__populationDiffer3__" value="Education"> Education
          </label>
          <br>
          <label>
              <input type="checkbox" id="check1.5" name="__populationDiffer4__" value="Income"> Income
          </label>
          <br>
          <label>
              <input type="checkbox" id="check1.6" name="__populationDiffer5__" value="What they have to gain from the choice you advocate"> What they have to gain from the choice you advocate
          </label>
          <br>
          <label>
            <input type="checkbox" id="check1.7" name="__populationDiffer6__" value="What they have to lose from the choice you advocate"> What they have to lose from the choice you advocate.
          </label>
          <br>
        </div>

        <div class="mb-3 text-left">
          <p class="paraQues mb-2">Is the choice visible to others?</p>
          <label>
            <input type="radio" id="radio1.1" name="__visibleChoice__" value="Yes"> Yes
          </label>
          <br>
          <label>
              <input type="radio" id="radio1.2" name="__visibleChoice__" value="No"> No
          </label>
          <br>
          <label>
              <input type="radio" id="radio1.3" name="__visibleChoice__" value="Don't Know"> Don't Know
          </label>
          <br>
        </div>

        <div class="mb-3 text-left">
          <p class="paraQues mb-2">Does the choice say something about one’s identity?</p>
          <label>
            <input type="radio" id="radio2.1" name="__identity__" value="Yes"> Yes
          </label>
          <br>
          <label>
              <input type="radio" id="radio2.2" name="__identity__" value="No"> No
          </label>
          <br>
          <label>
              <input type="radio" id="radio2.3" name="__identity__" value="Don't Know"> Don't Know
          </label>
          <br>
        </div>


        <div class="mb-3">
          <p class="paraQues mb-3">What is people's level of accuracy of knowledge about the risk? <strong style="color: red;">*</strong></p>
        <ul class='likert'>
          <li>
            <label class="paraQues">Very Low</label>
          </li>
          <li>
            <input type="radio" name="__riskKnowledge__" value="1">
            <label class="paraQues">1</label>
          </li>
          <li>
            <input type="radio" name="__riskKnowledge__" value="2">
            <label class="paraQues">2</label>
          </li>
          <li>
            <input type="radio" name="__riskKnowledge__" value="3">
            <label class="paraQues">3</label>
          </li>
          <li>
            <input type="radio" name="__riskKnowledge__" value="4">
            <label class="paraQues">4</label>
          </li>
          <li>
            <input type="radio" name="__riskKnowledge__" value="5">
            <label class="paraQues">5</label>
          </li>
          <li>
            <input type="radio" name="__riskKnowledge__" value="6">
            <label class="paraQues">6</label>
          </li>
          <li>
            <input type="radio" name="__riskKnowledge__" value="7">
            <label class="paraQues">7</label>
          </li>
          <li>
            <label class="paraQues">Very High</label>
          </li>
        </ul>
        </div>


        <div class="mb-3">
          <p class="paraQues mb-3">People feel like they have knowledge about the risk? <strong style="color: red;">*</strong></p>
        <ul class='likert'>
          <li>
            <label class="paraQues">Very Low</label>
          </li>
          <li>
            <input type="radio" name="__feelsKnowledge__" value="1">
            <label class="paraQues">1</label>
          </li>
          <li>
            <input type="radio" name="__feelsKnowledge__" value="2">
            <label class="paraQues">2</label>
          </li>
          <li>
            <input type="radio" name="__feelsKnowledge__" value="3">
            <label class="paraQues">3</label>
          </li>
          <li>
            <input type="radio" name="__feelsKnowledge__" value="4">
            <label class="paraQues">4</label>
          </li>
          <li>
            <input type="radio" name="__feelsKnowledge__" value="5">
            <label class="paraQues">5</label>
          </li>
          <li>
            <input type="radio" name="__feelsKnowledge__" value="6">
            <label class="paraQues">6</label>
          </li>
          <li>
            <input type="radio" name="__feelsKnowledge__" value="7">
            <label class="paraQues">7</label>
          </li>
          <li>
            <label class="paraQues">Very High</label>
          </li>
        </ul>
        </div>


        <div class="mb-3 text-left">
          <p class="paraQues mb-2">Where do people go to for information about choice? (Check all that apply) <strong style="color: red;">*</strong></p>
          <label>
            <input type="checkbox" id="check2.1" name="__choiceInformation0__" value="Internet"> Internet
          </label>
          <br>
          <label>
              <input type="checkbox" id="check2.2" name="__choiceInformation1__" value="Friends"> Friends
          </label>
          <br>
          <label>
              <input type="checkbox" id="check2.3" name="__choiceInformation2__" value="National Experts"> National Experts
          </label>
          <br>
          <label>
            <input type="checkbox" id="check2.4" name="__choiceInformation3__" value="Local Leaders"> Local Leaders
          </label>
          <br>
          <label>
              <input type="checkbox" id="check2.5" name="__choiceInformation4__" value="Family"> Family
          </label>
          <br>
          <input type="text" id="choices" name="__choiceInformation5__" autocomplete="off" maxlength="40" placeholder="Notes..."/><br><i>Maximum character limit is 40</i>
        </div>

      </div>

      <button type="button" class="action-button previous previous_button mb-5">Back</button>
      <button type="button" class="next action-button mb-5">Continue</button>  
    </fieldset>  


    <fieldset>
      <h3>Call to Action: Understanding Intentions & Implementation</h3>
      <h6>Need to fill all the input fields with symbol <strong style="color: red;">*</strong> </h6> 
      <div class="form-group mb-4"> 
        <iframe width="560" height="315" src="https://www.youtube.com/embed/jUyj1SmWnCc?si=y3sWqxfK_jFg__ad" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="form-group text-left" style="margin-top: 1.6rem;">
          <label>What intentions do you want a person to set for themselves? </label>
          <ul id="square">
            <li><input type="text" class="fill-the-blanks intention" name="__intention__" autocomplete="off" maxlength="100"/></li>
            <li><input type="text" class="fill-the-blanks intention" name="__intention1__" autocomplete="off" maxlength="100"/></li>
            <li><input type="text" class="fill-the-blanks intention" name="__intention2__" autocomplete="off" maxlength="100"/></li>
          </ul>
        </div>
        <div class="form-group text-left">
          <label>What barriers may block good intentions from being implemented in this situation?</label>
          <ul id="square">
            <li><input type="text" class="fill-the-blanks intention" name="__intention__" autocomplete="off" maxlength="100"/></li>
            <li><input type="text" class="fill-the-blanks intention" name="__intention1__" autocomplete="off" maxlength="100"/></li>
            <li><input type="text" class="fill-the-blanks intention" name="__intention2__" autocomplete="off" maxlength="100"/></li>
          </ul>
        </div>
        <div class="form-group text-left">
          <label>How could the person positively influence others?</label>
          <ul id="square">
            <li><input type="text" class="fill-the-blanks intention" name="__intention__" autocomplete="off" maxlength="100"/></li>
            <li><input type="text" class="fill-the-blanks intention" name="__intention1__" autocomplete="off" maxlength="100"/></li>
            <li><input type="text" class="fill-the-blanks intention" name="__intention2__" autocomplete="off" maxlength="100"/></li>
          </ul>
        </div>
      </div>
      <div class="alert alert-danger" role="alert">
        Make sure that you have completed all the Required (*) questions on the form before submitting. After submitting the form check the download page (Ctrl + J) to allow the file to be downloaded on your computer.  
      </div>
      <button type="button" class="action-button previous previous_button">Back</button> 
      <button type="submit" class="action-button">Finish</button>
    </fieldset>  
  </form>  
</section> 
<!-- End Multi step form -->
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.2/js/intlTelInput.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js'></script><script  src="../static/js/forms.js"></script>

</body>
</html>